
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "act laboratory"
		VALUE "FileDescription", "act laboratory updater"
		VALUE "FileVersion", "1.0.0"
		VALUE "InternalName", ""
		VALUE "LegalCopyright", "act laboratory. All rights reserved."
		VALUE "OriginalFilename", "updater.exe"
		VALUE "ProductName", "updater"
		VALUE "ProductVersion", "1.0.0"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0411 0x04B0  
}
}
